apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway-deployment
  namespace: dbanking-namespace
  labels:
    app: apigateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apigateway
  template:
    metadata:
      labels:
        app: apigateway
    spec:
      containers:
      - name: apigateway
        image: dbankingop1cntrregistry.azurecr.io/apigateway:latest
        ports:
        - containerPort: 8080